#activity {
    width: 100%;
    height: 720px;
    color: $brown;
    background-color: $white;
    position: relative;
    .content {
        width: 90%;
        height: 910px;
        border-radius: 40px;
        position: absolute;
        top: -35%;
        left: 5%;
        background-color: $green;
        .container {
            padding-top: 5%;
            h1 {
                letter-spacing: 20px;
                font-weight: bold;
            }
            .activityRow {
                height: 610px;
                padding-top: 3%;
                .activity_unit_top {
                    .cover_image {
                        overflow: hidden;
                        height: 100%;
                        position: relative;
                        img {
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: calc(50% + 0px);
                            transform: translateX(-50%);
                        }
                        .activity_text {
                            width: 100%;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            padding: 20px;
                            color: $white;
                            z-index: 1;
                            .datetime {
                                font-size: 1.2rem;
                                letter-spacing: 3px;
                            }
                            .title {
                                letter-spacing: 3px;
                                line-height: 2.5rem;
                                font-weight: bold;
                            }
                            .readmore {
                                text-align: right;
                                letter-spacing: 3px;
                            }
                        }
                        .gray {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(#fff0, 80%, $darkgray);
                        }
                    }
                }
                .activity_unit {
                    .cover_image {
                        overflow: hidden;
                        height: 100%;
                        position: relative;
                        img {
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: calc(50% + 0px);
                            transform: translateX(-50%);
                        }
                    }
                    .activity_text {
                        color: $brown;
                        .datetime {
                            font-size: 1rem;
                            letter-spacing: 3px;
                        }
                        .title {
                            letter-spacing: 3px;
                            line-height: 2rem;
                            font-weight: bold;
                        }
                        .readmore {
                            color: $white;
                            text-align: right;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
            .checkRecommendationBtn {
                border: 1px solid $white;
                border-radius: 25px;
                margin-left: auto;
                width: 48%;
                text-align: center;
                font-size: 1.5rem;
                letter-spacing: 3px;
                margin-top: 5%;
                padding: 17px;
                img {
                    width: 6%;
                    margin-top: -2%;
                }
            }
        }
    }
}

#activityIcon {
    background-color: $white;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    display: inline-block;
    padding: 5px 10px 10px 10px;
    img {
        width: 100%;
    }
}