footer{
    width: 100%;
    height: $footer-height;
	display: flex;
	background-color: $brown;
	color: $darkwhite;
	.container{
		position: relative;
		padding-top: 10px;
		.footerTable{
			font-size: 1rem;
			letter-spacing: 3px;
			th{
				color: $white;
				font-weight: bold;
				padding: 10px 0px;
			}
			td{
				padding-right: 10px;
			}
		}
		.footerText{
			width: 100%;
			position: absolute;
			right: 0;
			bottom: 20px;
			font-size: 0.8rem;
			text-align: right;
			.button-area{
				width: 150px;
				height: 50px;
				display: block;
				margin-bottom: 0px;
				padding: 0;
				li{
					float: left;
				}
				.nav-item {
					width: 50px;
					margin: 0px;
					.nav-link {
						img {
							width: 30px;
						}
						&:hover{
							border: none;
						}
					}
					&:hover{
						border: none;
					}
				}
			}
			.footerLink{
				a{
					color: $darkwhite;
					letter-spacing: 2px;
				}
			}
			.copyright {
				line-height: 2rem;
			}
			@media (max-width: 768px) {
				text-align: left;
				right: -15px;
				.button-area{
					margin: 0;
				}
			}
		}
	}
	.top{
		float: right;
		width: 40px;
		border-left: 1px solid $white;
		padding: 10px 5px;
		position: relative;
		text-align: center;
		cursor: pointer;
		img{
			width: 6px;
			margin: 10px 10px 5px 10px;
		}
		span{
			font-weight: bold;
			letter-spacing: 5px;
			transform: rotate(90deg);
			position: absolute;
			bottom: 15px;
			left: -4px;
			transition: all 0.5s ease;
		}
		&:hover{
			span{
				color: $green;
			}
		}
		@media (max-width: 992px) {
			width: 50px;
			img{
				width: 9px;
			}
			span{
				bottom: 24px;
				left: 3%;
			}
		}
		@media (max-width: 768px) {
			width: 70px;
			img{
				width: 14px;
			}
			span{
				bottom: 24px;
				left: 15%;
			}
		}
	}
	@media (max-width: 992px) {
		height: calc(#{$footer-height} + 61px);
	}
	@media (max-width: 768px) {
		height: calc(#{$footer-height} + 160px);
	}
}
