footer{
    width: 100%;
    height: $footer-height;
	display: flex;
	background-color: $brown;
	color: $darkwhite;
	.container{
		position: relative;
		padding-top: 10px;
		.footerTable{
			font-size: 1rem;
			letter-spacing: 3px;
			th{
				color: $white;
				font-weight: bold;
				padding: 10px 0px;
			}
			td{
				padding-right: 10px;
			}
		}
		.footerText{
			width: 100%;
			position: absolute;
			right: 0;
			bottom: 20px;
			font-size: 0.8rem;
			text-align: right;
			.footerLink{
				color: $pink;
				a{
					color: $pink;
					letter-spacing: 2px;
				}
			}
			.copyright {
				line-height: 2rem;
			}
			@media (max-width: 768px) {
				text-align: left;
				right: -15px;
			}
		}
	}
	@media (max-width: 992px) {
		height: calc(#{$footer-height} + 61px);
	}
	@media (max-width: 768px) {
		height: calc(#{$footer-height} + 126px);
	}
}
