section#header {
    width: 100%;
    height: calc(100vh - 100px);
    max-height: calc(100vw / 2);
    min-height: 480px;
    overflow: hidden;
}

header {
    position: relative;
    height: 100%;
    .bg_cover {
        height: calc(100% - 120px);
        position: relative;
        z-index: -1;
        img.background-image {
            position: absolute;
            top: 0;
            width: 100%;
            left: calc(50% + 0px);
            transform: translateX(-50%);
            transition: all 1s ease;
        }
        .coverText {
            position: absolute;
            bottom: 15%;
            left: 8%;
            color: $white;
            letter-spacing: 10px;
            z-index: 1;
            text-shadow: 2px 2px 2px black;
            h2 {
                font-size: 2.5rem;
            }
            span {
                font-size: 1.5rem;
            }
        }
    }
}

// #header的min-height，扣掉#headerbox的height，再乘上封面圖片的比例(2)。
@media (max-width: (480px - 120px) * $cover-raito) {
    header {
        img.background-image {
            width: auto !important;
            height: 100%;
            // transform: translateX(-50%) scale(2) !important;
        }
    }
}

.header-button-container {
    width: 100%;
    min-width: $web-min-width;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    z-index: 1;
    .header-button {
        width: 50%;
        &.left {
            background-color: $gray;
        }
        &.right {
            background-color: $green;
        }
        .header-button-link{
            width: 100%;
            height: 100%;
            padding: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-around;
            @media (max-width: 479px) {
                flex-direction: column;
            }
            &:hover{
                text-decoration: none;
            }
        }
        .header-text {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            @media (max-width: 479px) {
                order: 1;
            }
            .button-title {
                color: $brown;
                font-weight: bold;
                letter-spacing: 15px;
                @media (max-width: 991px) {
                    font-size: 1.5rem;
                    letter-spacing: 12px;
                }
                @media (max-width: 849px) {
                    font-size: 1.3rem;
                    letter-spacing: 8px;
                }
                @media (max-width: 719px) {
                    font-size: 1.5rem;
                    margin: 0;
                }
                @media (max-width: 575px) {
                    letter-spacing: 3px;
                }
                @media (max-width: 509px) {
                    font-size: 1.3rem;
                    letter-spacing: 3px;
                }
                @media (max-width: 359px) {
                    font-size: 1rem;
                }
            }
            .button-subtitle {
                color: $darkgray;
                letter-spacing: 5px;
                @media (max-width: 991px) {
                    font-size: 0.9rem;
                }
                @media (max-width: 849px) {
                    letter-spacing: 0px;
                }
                @media (max-width: 719px) {
                    display: none;
                }
            }
        }
        .button-check-link {
            display: flex;
            width: 75px;
            padding: 0;
            @media (max-width: 991px) {
                width: 65px;
            }
            @media (max-width: 719px) {
                width: 50px;
            }
            img {
                width: 95%;
            }
        }
    }
}