// Navbar 樣式
#navbar {
    background-color: $darkwhite;
    color: $blue;
    height: $navbar-base-height;
    min-width: $web-min-width;
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.2);
    .navbar-brand{
        position: absolute;
        top: 15px;
        left: 40px;
    }
    #sidebarToggle {
        width: 84px;
        height: 44px;
        border: 2px solid $blue;
        position: absolute;
        right: 4%;
        bottom: 20%;
        #sidebarContent {
            position: relative;
            #searchbox {
                width: 40px;
                height: 40px;
                margin: 0px;
                padding: 0px;
                text-align: center;
                overflow: hidden;
                background-color: rgba(255, 255, 255, 0);
                position: absolute;
                top: 0;
                right: 50%;
                transition: all 0.5s ease;
                .btn {
                    width: 40px;
                    height: 100%;
                    padding: 5px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    cursor: pointer;
                    img {
                        width: 100%;
                    }
                }
                input {
                    width: 260px;
                    height: calc(100% - 10px);
                    position: relative;
                    padding: 0;
                    margin: 5px 0px 5px 40px;
                    color: $blue;
                    border: 0;
                    visibility: hidden;
                    pointer-events: none;
                    transition: all 0.5 ease;
                    outline: none;
                }
                &.open {
                    width: 300px;
                    background-color: rgba(255, 255, 255, 1);
                    border: 1px solid $blue;
                    input {
                        padding-left: 10px;
                        border-left: 1px solid $blue;
                        visibility: initial;
                        pointer-events: initial;
                    }
                }
            }
            #barbox {
                width: 40px;
                height: 40px;
                margin: 0px;
                padding: 5px;
                text-align: center;
                cursor: pointer;
                background-color: $blue;
                color: $darkwhite;
                position: relative;
                line-height: 30px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}

.navbar-nav {
    width: 60%;
    padding-top: 2%;
    margin-left: auto;
    .form-inline .input-group {
        width: 100%;
    }
    .nav-item {
        margin-right: 4%;
        &.active {
            .nav-link {
                color: $blue;
                border-bottom: 3px solid $blue;
            }
        }
        &.dropdown {
            .dropdown-toggle {
                &::after {
                    width: 1rem;
                    text-align: center;
                    float: right;
                    vertical-align: 0;
                    border: 0;
                    font-weight: 900;
                    content: '\f105';
                    font-family: 'Font Awesome 5 Free';
                }
            }
            &.show {
                .dropdown-toggle::after {
                    content: '\f107';
                }
            }
            &.no-arrow {
                .dropdown-toggle::after {
                    display: none;
                }
            }
            .dropdown-menu{
                .dropdown-item{
                    color: $blue;
                    &:hover{
                        background-color: white;
                    }
                    span{
                        padding-bottom: 3px;
                        &:hover{
                            border-bottom: 2px solid $blue;
                        }
                    }
                }
            }
        }
        .nav-link {
            font-size: 1.2rem;
            padding-bottom: 2px;
            &:hover {
                border-bottom: 3px solid $blue;
            }
            &:focus {
                // remove outline for Safari and Firefox
                outline: none;
            }
            .badge {
                position: absolute;
                margin-left: 0.75rem;
                top: 0.3rem;
                font-weight: 400;
                font-size: 0.5rem;
            }
        }
    }
    @media(min-width: 768px) {
        .form-inline .input-group {
            width: auto;
        }
    }
}

#navbarResponsive .navbar-nav {
    @media (max-width: 1399px) {
        margin-left: 22%;
    }
    @media (max-width: 1199px) {
        margin-left: 18%;
        .nav-item {
            margin-right: 3%;
            .nav-link {
                font-size: 1rem;
            }
        }
    }
    @media (max-width: 999px) {
        .nav-item {
            margin-right: 2%;
        }
    }
    // @media (max-width: 1290px) {
    //     margin-left: 22%;
    //     .nav-item {
    //         .nav-link {
    //             font-size: 1rem;
    //         }
    //     }
    // }
    // @media (max-width: 1170px) {
    //     margin-left: 11%;
    //     width: 70%;
    //     .nav-item {
    //         .nav-link {
    //             font-size: 0.9rem;
    //         }
    //     }
    // }
}

// .sidebar {
//     width: $sidebar-collapsed-width !important;
//     background-color: $gray-900;
//     min-height: calc(100vh - #{$navbar-base-height});
//     @include sidebar-icons;
//     .nav-item {
//         .nav-link {
//             color: fade-out($white, 0.5);
//             &:active,
//             &:focus,
//             &:hover {
//                 color: fade-out($white, 0.25);
//             }
//         }
//     }
//     &.toggled {
//         width: 0 !important;
//         overflow: hidden;
//     }
// }

// @media (min-width: 768px) {
//     .sidebar {
//         width: $sidebar-base-width !important;
//         .nav-item {
//             .nav-link {
//                 display: block;
//                 width: 100%;
//                 text-align: left;
//                 padding: 1rem;
//                 width: $sidebar-base-width;
//                 span {
//                     font-size: 1rem;
//                     display: inline;
//                 }
//             }
//             .dropdown-menu {
//                 position: static !important;
//                 margin: 0 1rem;
//                 // Position fix for Firefox
//                 top: 0;
//             }
//             &.dropdown .dropdown-toggle::after {
//                 display: block;
//             }
//         }
//         &.toggled {
//             overflow: visible;
//             width: $sidebar-collapsed-width !important;
//             @include sidebar-icons;
//         }
//     }
// }
