#navSidebar {
    width: $navbar-lg-width;
    height: 100vh;
    min-height: 550px;
    padding: 15px 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    background-color: $white;
    z-index: 1040;
    
    position: fixed;
    top: 0;
    right: ($navbar-lg-width * -1);
    box-shadow: none;
    transition: right 0.3s ease, box-shadow 0.3s ease;
    
    @media (max-width: 767px) {
        width: 100vw;
        right: -100vw;
        &.open {
            right: 0;
        }
    }

    &.open {
        right: 0px;
        box-shadow: -5px 0px 15px 1px rgba(0, 0, 0, 0.2);
    }

    button.close {
        font-size: 2rem;
        color: $green;
        position: absolute;
        top: 15px;
        right: 20px;
        transition: color 0.5s ease;
        &:hover {
            color: $blue;
        }
    }

    .navbar-nav {
        min-width: 260px;
        margin-top: 40px;
        margin-left: 35px;
        @media (max-width: 400px) {
            margin-left: 20px;
        }
        .nav-item {
            margin-bottom: 10px;
            .nav-link {
                border: none;
                letter-spacing: 5px;
                padding: 0;
                font-size: 1.2rem;
                @media (max-width: 400px) {
                    font-size: 1.1rem;
                }
                // @media (max-width: 350px) {
                //     font-size: 0.8rem;
                // }
                .underline {
                    width: 0%;
                    height: 2px;
                    background-color: $blue;
                    transition: width 0.2s ease-in;
                }
                &:hover {
                    .underline {
                        width: 80%;
                    }
                }
            }
        }
    }

    .mutilink{
        margin-bottom: 0px !important;
        .mutilink-title{
            margin-bottom: 10px;
        }
        .mutilink-menu{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            // &.open{
            //     display: flex;
            // }
            .mutilink-item{
                letter-spacing: 3px;
                margin-bottom: 10px;
                @media (max-width: 400px) {
                    font-size: 0.9rem;
                }
                .underline {
                    width: 0%;
                    height: 1px;
                    background-color: $blue;
                    transition: width 0.2s ease-in;
                }
                &:hover {
                    text-decoration: none;
                    .underline {
                        width: 30%;
                    }
                }
            }
        }
    }
    
    .navbar-bottom {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 15px 35px 10px 35px;
        @media (max-width: 400px) {
            margin-left: 20px;
        }
        .navbar-nav-bottom{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            list-style: none;
            padding: 0;
            margin: 0px 0px 15px 0px;
            .nav-item{
                margin-right: 20px;
                .nav-link{
                    padding: 0px;
                    &:hover{
                        text-decoration: none;
                    }
                    img{
                        width: 50px;
                        @media (max-width: 400px) {
                            width: 40px;
                        }
                    }
                }
            }
        }
        div#search {
            min-width: 210px;
            margin: 0px;
            padding: 2% 0px;
            .inputBox {
                border: 2px solid $blue;
                border-radius: 25px;
                padding: 1px 0px;
                margin: 0px;
                height: 45px;
                position: relative;
                input {
                    outline: none;
                    padding: 3px 0px 3px 3px;
                    width: calc(100% - 58px);
                    height: 33px;
                    color: $blue;
                    position: relative;
                    border: none;
                    border-radius: 20px;
                    top: -2px;
                    left: 15px;
                    margin-right: 8px;
                    font-size: 0.9rem;
                }
                button {
                    outline: none;
                    width: 45px;
                    height: 45px;
                    margin: 0;
                    padding: 5px;
                    text-align: center;
                    border: 2px solid $blue;
                    border-radius: 25px;
                    background-color: rgba(255, 255, 255, 0);
                    position: relative;
                    top: -3px;
                    left: 3px;
                    img {
                        width: 90%;
                        transition: width 0.5s ease;
                    }
                    &:hover {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        #bottomSidebar {
            width: 100%;
            min-width: 290px;
            padding: 0;
            margin-top: 10px;
            margin-left: 10%;
            margin-bottom: 5px;
            height: 50px;
            li {
                float: left;
            }
            .nav-item {
                width: 60px;
                margin: 0px;
                .nav-link {
                    img {
                        width: 40px;
                    }
                }
            }
        }
    }
    
}