// Spacing Variables
// Change below variable if the height of the navbar changes
$navbar-base-height: 100px;
// Change below variable to change the width of the sidenav
$sidebar-base-width: 225px;
// Change below variable to change the width of the sidenav when collapsed
$sidebar-collapsed-width: 90px;
// Change below variable to change the height of the sticky footer
$sticky-footer-height: 80px;
// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$white: #ffffff;
$darkwhite: #f3f3f3;
$gray: #eaeaea;
$darkgray: #929292;
$green: #93e5b4;
$blue: #5f6b82;
$pink: #f4ac9e;
$brown: #55473f;