// navbar 基本高度
$navbar-base-height: 100px;

// sidebar 寬度
$navbar-lg-width: 460px;

// footer 高度
$footer-height: 200px;

// 封面圖寬高，比例為1:2。
$cover-width: 1920px;
$cover-height: 960px;
$cover-raito: $cover-width / $cover-height;

// // Change below variable to change the width of the sidenav
// $sidebar-base-width: 225px;
// // Change below variable to change the width of the sidenav when collapsed
// $sidebar-collapsed-width: 90px;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// 顏色
$white: #ffffff;
$darkwhite: #f3f3f3;
$gray: #eaeaea;
$darkgray: #929292;
$green: #93e5b4;
$blue: #5f6b82;
$pink: #f4ac9e;
$brown: #55473f;