.content-page-header {
  width: 100%;
  min-width: 300px;
  height: 200px;
  background-color: #ffffff;
}
.content-page-header h1 {
  color: #55473f;
  font-size: 2.5rem;
  letter-spacing: 15px;
  display: inline-block;
}
@media (max-width: 767px) {
  .content-page-header h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 379px) {
  .content-page-header h1 {
    font-size: 1.5rem;
  }
}
.content-page-header .title-icon {
  width: 60px;
  margin-bottom: 18px;
  margin-right: 15px;
}
@media (max-width: 379px) {
  .content-page-header .title-icon {
    width: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
.content-page-header .content {
  text-align: center;
}

.content-page-body {
  min-width: 300px;
  background-color: #eaeaea;
  padding: 70px 0px 60px 0px;
}
@media (max-width: 439px) {
  .content-page-body {
    padding: 70px 0px 15px 0px;
  }
}
.content-page-body .goback-container {
  margin-top: 40px;
  border-bottom: 0.5px solid #5f6b82;
}
.content-page-body .goback-container .goback-text {
  font-size: 1.2rem;
  color: #55473f;
}
.content-page-body .goback-container .goback-text:hover {
  text-decoration: none;
}

.detail-page-body {
  min-width: 300px;
  background-color: #eaeaea;
  padding: 0px 0px 60px 0px;
}
.detail-page-body .goback-container {
  margin-top: 40px;
  border-bottom: 0.5px solid #5f6b82;
}
.detail-page-body .goback-container .goback-text {
  font-size: 1.2rem;
  color: #55473f;
}
.detail-page-body .goback-container .goback-text:hover {
  text-decoration: none;
}

.content-paginate-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.3rem;
  margin-top: 18px;
}
@media (max-width: 439px) {
  .content-paginate-container {
    margin-top: 0px;
  }
}
.content-paginate-container .content-paginate {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-paginate-container .content-paginate li {
  display: block;
  width: 60px;
  height: 2rem;
  color: #93e5b4;
  float: left;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .content-paginate-container .content-paginate li {
    width: 40px;
    font-size: 1rem;
  }
}
@media (max-width: 439px) {
  .content-paginate-container .content-paginate li {
    width: 30px;
    font-size: 0.8rem;
  }
}
@media (max-width: 329px) {
  .content-paginate-container .content-paginate li {
    width: 25px;
  }
}
.content-paginate-container .content-paginate li:hover {
  color: #55473f;
}
.content-paginate-container .content-paginate li span {
  display: block;
  width: 100%;
  height: 100%;
}
.content-paginate-container .content-paginate li span.activated {
  color: #55473f;
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled {
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled:hover {
  color: #93e5b4;
}

.announcement-detail {
  min-width: 300px;
  width: 100%;
  height: 1000px;
  background-color: #eaeaea;
}
.announcement-detail .content-container {
  margin: 0px 70px;
  background-image: url(../../../images/frontend/icons/annoucement_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
@media (max-width: 991px) {
  .announcement-detail .content-container {
    margin: 0;
  }
}
.announcement-detail .content-container header {
  height: 35%;
}
.announcement-detail .content-container header .announcement-detail-title {
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  padding: 50px 80px;
}
.announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container {
  position: absolute;
  width: 100%;
  top: 230px;
  left: 235px;
}
@media (max-width: 991px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container {
    top: 250px;
    left: 165px;
    width: 80%;
  }
}
@media (max-width: 767px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container {
    top: 228px;
    left: 115px;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container {
    left: 90px;
    top: 238px;
  }
}
@media (max-width: 450px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container {
    left: 75px;
  }
}
@media (max-width: 350px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container {
    left: 60px;
  }
}
@media (max-width: 300px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container {
    top: 255px;
  }
}
.announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-title-content {
  text-align: left;
  float: left;
  margin: 0;
}
@media (max-width: 991px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-title-content {
    width: 60%;
  }
}
.announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-title-content h1 {
  color: #55473f;
  font-size: 2.2rem;
  letter-spacing: 10px;
  display: inline-block;
  font-weight: bold;
}
@media (max-width: 991px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-title-content h1 {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-title-content h1 {
    font-size: 1.5rem;
    letter-spacing: 5px;
  }
}
@media (max-width: 575px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-title-content h1 {
    font-size: 1.1rem;
  }
}
@media (max-width: 450px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-title-content h1 {
    font-size: 1rem;
  }
}
@media (max-width: 300px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-title-content h1 {
    font-size: 0.8rem;
  }
}
@media (max-width: 767px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-title-content {
    width: 45%;
  }
}
.announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date {
  position: absolute;
  right: 430px;
  bottom: 3px;
  margin: 0;
}
@media (max-width: 991px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date {
    right: 90px;
  }
}
@media (max-width: 767px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date {
    right: 215px;
    bottom: 15px;
    width: 20%;
  }
}
@media (max-width: 575px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date {
    right: 175px;
    bottom: 8px;
    width: 20%;
  }
}
@media (max-width: 450px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date {
    right: 140px;
  }
}
@media (max-width: 450px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date {
    width: 22%;
    right: 110px;
  }
}
.announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date h2 {
  margin: 0;
  margin-right: 15px;
  letter-spacing: 3px;
  float: left;
  font-size: 3rem;
  font-weight: bold;
  display: inline-block;
  color: #f4ac9e;
}
@media (max-width: 800px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date h2 {
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date h2 {
    margin: 0;
    font-size: 2.5rem;
  }
}
@media (max-width: 575px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date h2 {
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 300px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date h2 {
    font-size: 1.3rem;
  }
}
.announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date span {
  letter-spacing: 2px;
  display: inline-block;
  float: right;
  position: relative;
  right: 5px;
  top: 3px;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date span {
    margin: 0;
    top: 0;
  }
}
@media (max-width: 575px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date span {
    font-size: 0.8rem;
  }
}
@media (max-width: 450px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date span {
    font-size: 0.6rem;
  }
}
@media (max-width: 300px) {
  .announcement-detail .content-container header .announcement-detail-title .announcement-detail-title-container .announcement-detail-date span {
    font-size: 0.5rem;
  }
}
.announcement-detail .content-container .annoucement-detail-content {
  height: 48%;
  overflow-y: auto;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991px) {
  .announcement-detail .content-container .annoucement-detail-content {
    width: 60%;
  }
}
.announcement-detail .content-container .annoucement-detail-content .announcement-detail-row {
  width: 100%;
}

.detail-page-body .goback-container {
  margin-top: 0;
}