section#donation {
  width: 100%;
  height: 200px;
  background-color: #ffffff;
}
section#donation h1 {
  color: #55473f;
  font-size: 2.5rem;
  letter-spacing: 15px;
  display: inline-block;
}
section#donation .title-icon {
  width: 60px;
  margin-bottom: 18px;
  margin-right: 15px;
}
section#donation .content {
  text-align: center;
}

section#donation-content {
  background-color: #eaeaea;
  padding: 70px 0px 60px 0px;
}
section#donation-content .goback-container {
  margin-top: 40px;
  border-bottom: 0.5px solid #5f6b82;
}
section#donation-content .goback-container .goback-text {
  font-size: 1.2rem;
  color: #55473f;
}
section#donation-content .goback-container .goback-text:hover {
  text-decoration: none;
}