@import "../variables";
@import "../contents";
.switch-btn-row {
    border-bottom: 1px solid $blue;
    margin-bottom: 25px;
    .switch-btn-container {
        padding: 6px 0px;
        &.actived {
            border-left: 1px solid $blue;
            border-top: 1px solid $blue;
            border-right: 1px solid $blue;
            .switch-btn {
                color: $green;
            }
        }
        .switch-btn {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 1.8rem;
            font-weight: bold;
            color: $brown;
            transition: color 0.1s ease-in-out;
            &:hover {
                text-decoration: none;
                color: $green;
            }
        }
    }
}

.activity-card {
    margin: 25px 28px;
    padding: 30px 40px;
    border: 1px solid $blue;
    color: $brown;
    width: calc(50% - 56px);
    height: 580px;
    .activity-card-date {
        position: relative;
        border-bottom: 3px solid $green;
        margin-bottom: 28px;
        h3 {
            margin: 0;
            font-size: 3rem;
            font-weight: bold;
            position: relative;
            font-weight: bold;
            display: inline-block;
            color: $green;
        }
        span {
            display: inline-block;
            float: right;
            font-style: italic;
            position: relative;
            right: 5px;
            bottom: 10px;
            font-size: 1.2rem;
            // font-weight: lighter;
        }
    }
    .activity-card-image {
        margin-bottom: 25px;
        .image-link {
            display: inline-block;
            width: 100%;
            .cover-image {
                height: 288px;
                overflow: hidden;
                position: relative;
                img {
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: calc(50% + 0px);
                    transform: translateX(-50%);
                }
                .image-gray {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($blue, 0.3);
                    transition: background-color 0.1s ease-in-out;
                }
            }
            &:hover {
                .image-gray {
                    background-color: rgba($blue, 0);
                }
            }
        }
    }
    .activity-card-title {
        .title-link {
            color: $brown;
            font-size: 1.3rem;
            font-weight: bold;
        }
    }
}
