.content-page-header {
  width: 100%;
  min-width: 300px;
  height: 200px;
  background-color: #ffffff;
}
.content-page-header h1 {
  color: #55473f;
  font-size: 2.5rem;
  letter-spacing: 15px;
  display: inline-block;
}
@media (max-width: 767px) {
  .content-page-header h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 379px) {
  .content-page-header h1 {
    font-size: 1.5rem;
  }
}
.content-page-header .title-icon {
  width: 60px;
  margin-bottom: 18px;
  margin-right: 15px;
}
@media (max-width: 379px) {
  .content-page-header .title-icon {
    width: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
.content-page-header .content {
  text-align: center;
}

.content-page-body {
  min-width: 300px;
  background-color: #eaeaea;
  padding: 70px 0px 60px 0px;
}
@media (max-width: 439px) {
  .content-page-body {
    padding: 70px 0px 15px 0px;
  }
}
.content-page-body .goback-container {
  margin-top: 40px;
  border-bottom: 0.5px solid #5f6b82;
}
.content-page-body .goback-container .goback-text {
  font-size: 1.2rem;
  color: #55473f;
}
.content-page-body .goback-container .goback-text:hover {
  text-decoration: none;
}

.detail-page-body {
  min-width: 300px;
  background-color: #eaeaea;
  padding: 0px 0px 60px 0px;
}
.detail-page-body .goback-container {
  margin-top: 40px;
  border-bottom: 0.5px solid #5f6b82;
}
.detail-page-body .goback-container .goback-text {
  font-size: 1.2rem;
  color: #55473f;
}
.detail-page-body .goback-container .goback-text:hover {
  text-decoration: none;
}

.content-paginate-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.3rem;
  margin-top: 18px;
}
@media (max-width: 439px) {
  .content-paginate-container {
    margin-top: 0px;
  }
}
.content-paginate-container .content-paginate {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-paginate-container .content-paginate li {
  display: block;
  width: 60px;
  height: 2rem;
  color: #93e5b4;
  float: left;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .content-paginate-container .content-paginate li {
    width: 40px;
    font-size: 1rem;
  }
}
@media (max-width: 439px) {
  .content-paginate-container .content-paginate li {
    width: 30px;
    font-size: 0.8rem;
  }
}
@media (max-width: 329px) {
  .content-paginate-container .content-paginate li {
    width: 25px;
  }
}
.content-paginate-container .content-paginate li:hover {
  color: #55473f;
}
.content-paginate-container .content-paginate li span {
  display: block;
  width: 100%;
  height: 100%;
}
.content-paginate-container .content-paginate li span.activated {
  color: #55473f;
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled {
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled:hover {
  color: #93e5b4;
}

.switch-btn-row {
  border-bottom: 1px solid #5f6b82;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .switch-btn-row {
    border: none;
  }
}
.switch-btn-row .switch-btn-container {
  padding: 6px 0px;
}
@media (max-width: 767px) {
  .switch-btn-row .switch-btn-container {
    padding: 0px;
    border: 1px solid #5f6b82 !important;
  }
  .switch-btn-row .switch-btn-container:first-child {
    border-bottom: none !important;
  }
}
.switch-btn-row .switch-btn-container.actived {
  border-left: 1px solid #5f6b82;
  border-top: 1px solid #5f6b82;
  border-right: 1px solid #5f6b82;
}
@media (max-width: 767px) {
  .switch-btn-row .switch-btn-container.actived {
    border: none;
  }
}
.switch-btn-row .switch-btn-container.actived .switch-btn {
  color: #93e5b4;
}
.switch-btn-row .switch-btn-container .switch-btn {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  color: #55473f;
  transition: color 0.1s ease-in-out;
}
.switch-btn-row .switch-btn-container .switch-btn:hover {
  text-decoration: none;
  color: #93e5b4;
}

.activity-card {
  margin: 25px 28px;
  padding: 30px 40px;
  border: 1px solid #5f6b82;
  color: #55473f;
  width: calc(50% - 56px);
  height: 580px;
}
@media (max-width: 991px) {
  .activity-card {
    width: calc(100% - 56px);
  }
}
@media (max-width: 575px) {
  .activity-card {
    margin: 25px 0px;
    width: 100%;
  }
}
@media (max-width: 519px) {
  .activity-card {
    padding: 30px 10px;
  }
}
.activity-card .activity-card-date {
  position: relative;
  border-bottom: 3px solid #93e5b4;
  margin-bottom: 28px;
}
.activity-card .activity-card-date h3 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  font-weight: bold;
  display: inline-block;
  color: #93e5b4;
}
.activity-card .activity-card-date span {
  display: inline-block;
  float: right;
  font-style: italic;
  position: relative;
  right: 5px;
  bottom: 10px;
  font-size: 1.2rem;
}
.activity-card .activity-card-image {
  margin-bottom: 25px;
}
.activity-card .activity-card-image .image-link {
  display: inline-block;
  width: 100%;
}
.activity-card .activity-card-image .image-link .cover-image {
  height: 288px;
  overflow: hidden;
  position: relative;
}
.activity-card .activity-card-image .image-link .cover-image img {
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(50% + 0px);
  transform: translateX(-50%);
  transition: all 0.8s ease-in-out;
}
@media (max-width: 991px) {
  .activity-card .activity-card-image .image-link .cover-image img {
    width: 100%;
    height: auto;
    top: calc(50% + 0px);
    left: 0;
    transform: translateY(-50%);
  }
}
@media (max-width: 767px) {
  .activity-card .activity-card-image .image-link .cover-image img {
    width: auto;
    height: 100%;
    top: 0;
    left: calc(50% + 0px);
    transform: translateX(-50%);
  }
}
@media (max-width: 575px) {
  .activity-card .activity-card-image .image-link .cover-image img {
    width: 100%;
    height: auto;
    top: calc(50% + 0px);
    left: 0;
    transform: translateY(-50%);
  }
}
@media (max-width: 459px) {
  .activity-card .activity-card-image .image-link .cover-image img {
    width: auto;
    height: 100%;
    top: 0;
    left: calc(50% + 0px);
    transform: translateX(-50%);
  }
}
.activity-card .activity-card-image .image-link .cover-image .image-gray {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(95, 107, 130, 0.3);
  transition: background-color 0.1s ease-in-out;
}
.activity-card .activity-card-image .image-link:hover img {
  transform: translateX(-50%) scale(1.1);
}
.activity-card .activity-card-image .image-link:hover .image-gray {
  background-color: rgba(95, 107, 130, 0);
}
.activity-card .activity-card-title .title-link {
  color: #55473f;
  font-size: 1.3rem;
  font-weight: bold;
}