.content-page-header {
  width: 100%;
  min-width: 300px;
  height: 200px;
  background-color: #ffffff;
}
.content-page-header h1 {
  color: #55473f;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 15px;
  display: inline-block;
}
@media (max-width: 767px) {
  .content-page-header h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 379px) {
  .content-page-header h1 {
    font-size: 1.5rem;
  }
}
.content-page-header .title-icon {
  width: 60px;
  margin-bottom: 18px;
  margin-right: 15px;
}
@media (max-width: 379px) {
  .content-page-header .title-icon {
    width: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
.content-page-header .content {
  text-align: center;
}

.content-page-body {
  min-width: 300px;
  background-color: #eaeaea;
  padding: 70px 0px 60px 0px;
}
@media (max-width: 439px) {
  .content-page-body {
    padding: 70px 0px 15px 0px;
  }
}
.content-page-body .goback-container {
  margin-top: 40px;
  border-bottom: 0.5px solid #5f6b82;
}
.content-page-body .goback-container .goback-text {
  font-size: 1.2rem;
  color: #55473f;
}
.content-page-body .goback-container .goback-text:hover {
  text-decoration: none;
}

.detail-page-body {
  min-width: 300px;
  background-color: #eaeaea;
  padding: 0px 0px 60px 0px;
}
.detail-page-body .goback-container {
  margin-top: 40px;
  border-bottom: 0.5px solid #5f6b82;
}
.detail-page-body .goback-container .goback-text {
  font-size: 1.2rem;
  color: #55473f;
}
.detail-page-body .goback-container .goback-text:hover {
  text-decoration: none;
}

.content-paginate-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.3rem;
  margin-top: 18px;
}
@media (max-width: 439px) {
  .content-paginate-container {
    margin-top: 0px;
  }
}
.content-paginate-container .content-paginate {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-paginate-container .content-paginate li {
  display: block;
  width: 60px;
  height: 2rem;
  color: #93e5b4;
  float: left;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .content-paginate-container .content-paginate li {
    width: 40px;
    font-size: 1rem;
  }
}
@media (max-width: 439px) {
  .content-paginate-container .content-paginate li {
    width: 30px;
    font-size: 0.8rem;
  }
}
@media (max-width: 329px) {
  .content-paginate-container .content-paginate li {
    width: 25px;
  }
}
.content-paginate-container .content-paginate li:hover {
  color: #55473f;
}
.content-paginate-container .content-paginate li span {
  display: block;
  width: 100%;
  height: 100%;
}
.content-paginate-container .content-paginate li span.activated {
  color: #55473f;
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled {
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled:hover {
  color: #93e5b4;
}

.filter-row {
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .filter-row {
    margin-bottom: 30px !important;
  }
}
.filter-row .filter-dropbox-container {
  width: 100%;
}
.filter-row .filter-dropbox {
  letter-spacing: 3px;
  height: 56px;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .filter-row .filter-dropbox {
    margin-bottom: 20px;
  }
}
.filter-row .filter-search {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 5px 0px 5px 15px;
  position: relative;
}
@media (max-width: 767px) {
  .filter-row .filter-search {
    margin-bottom: 10px;
  }
}
.filter-row .filter-search .search-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.filter-row .filter-search .search-input {
  display: inline-block;
  width: calc(100% - 135px);
  border: none;
  font-weight: bold;
  padding: 0;
  font-size: 1rem;
}
.filter-row .filter-search .search-button {
  color: black;
  display: inline-block;
  width: 75px;
  text-align: center;
  border-left: 2px solid #5f6b82;
  font-weight: bold;
}
.filter-row .filter-search .search-button:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  .filter-row .search-div {
    order: 3;
  }
}

.filter-row {
  margin-bottom: 25px;
}

.pd-25 {
  padding-right: 25px;
}
@media (max-width: 575px) {
  .pd-25 {
    padding: 0px;
  }
}

.freebook-container .freebook-card {
  width: calc(100%);
  margin-bottom: 40px;
  border: 1px solid #5f6b82;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 429px) {
  .freebook-container .freebook-card {
    border-radius: 8px;
    margin-bottom: 30px;
  }
}
@media (max-width: 350px) {
  .freebook-container .freebook-card {
    border-radius: 5px;
    margin-bottom: 15px;
  }
}
.freebook-container .freebook-card .freebook-card-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 30px 20px 30px 10px;
}
@media (max-width: 429px) {
  .freebook-container .freebook-card .freebook-card-link {
    padding: 10px;
  }
}
.freebook-container .freebook-card .freebook-card-link .freebook-cover-image {
  float: left;
  width: 50%;
  padding: 0px;
  text-align: center;
}
.freebook-container .freebook-card .freebook-card-link .freebook-cover-image img {
  width: 85%;
  box-shadow: 4px 5px 7px 2px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1199px) {
  .freebook-container .freebook-card .freebook-card-link .freebook-cover-image img {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .freebook-container .freebook-card .freebook-card-link .freebook-cover-image img {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .freebook-container .freebook-card .freebook-card-link .freebook-cover-image img {
    width: 75%;
  }
}
@media (max-width: 429px) {
  .freebook-container .freebook-card .freebook-card-link .freebook-cover-image img {
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.2);
  }
}
.freebook-container .freebook-card .freebook-card-link .freebook-info {
  float: right;
  width: 50%;
  color: #55473f;
  padding-left: 10px;
}
@media (max-width: 350px) {
  .freebook-container .freebook-card .freebook-card-link .freebook-info {
    padding-left: 0px;
  }
}
.freebook-container .freebook-card .freebook-card-link .freebook-info .freebook-title {
  margin-bottom: 15px;
  border-bottom: 3px solid #f4ac9e;
}
@media (max-width: 767px) {
  .freebook-container .freebook-card .freebook-card-link .freebook-info .freebook-title {
    margin-bottom: 10px;
  }
}
.freebook-container .freebook-card .freebook-card-link .freebook-info .freebook-title h4 {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2rem;
}
@media (max-width: 767px) {
  .freebook-container .freebook-card .freebook-card-link .freebook-info .freebook-title h4 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 575px) {
  .freebook-container .freebook-card .freebook-card-link .freebook-info .freebook-title h4 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
@media (max-width: 350px) {
  .freebook-container .freebook-card .freebook-card-link .freebook-info .freebook-title h4 {
    font-size: 0.6rem;
    line-height: 1rem;
  }
}
.freebook-container .freebook-card .freebook-card-link .freebook-info .freebook-small {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
@media (max-width: 575px) {
  .freebook-container .freebook-card .freebook-card-link .freebook-info .freebook-small {
    font-size: 0.6rem;
    margin-bottom: 0px;
  }
}
@media (max-width: 350px) {
  .freebook-container .freebook-card .freebook-card-link .freebook-info .freebook-small {
    font-size: 0.5rem;
  }
}
.freebook-container .freebook-card .freebook-card-link .freebook-info .check-detail {
  color: #f4ac9e;
  position: absolute;
  right: 23px;
  bottom: 32px;
}
@media (max-width: 429px) {
  .freebook-container .freebook-card .freebook-card-link .freebook-info .check-detail {
    right: 20px;
    bottom: 16px;
    font-size: 0.5rem;
  }
}
@media (max-width: 350px) {
  .freebook-container .freebook-card .freebook-card-link .freebook-info .check-detail {
    font-size: 0.5rem;
  }
}