.content-page-header {
  width: 100%;
  min-width: 300px;
  height: 200px;
  background-color: #ffffff;
}
.content-page-header h1 {
  color: #55473f;
  font-size: 2.5rem;
  letter-spacing: 15px;
  display: inline-block;
}
@media (max-width: 767px) {
  .content-page-header h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 379px) {
  .content-page-header h1 {
    font-size: 1.5rem;
  }
}
.content-page-header .title-icon {
  width: 60px;
  margin-bottom: 18px;
  margin-right: 15px;
}
@media (max-width: 379px) {
  .content-page-header .title-icon {
    width: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
.content-page-header .content {
  text-align: center;
}

.content-page-body {
  min-width: 300px;
  background-color: #eaeaea;
  padding: 70px 0px 60px 0px;
}
@media (max-width: 439px) {
  .content-page-body {
    padding: 70px 0px 15px 0px;
  }
}
.content-page-body .goback-container {
  margin-top: 40px;
  border-bottom: 0.5px solid #5f6b82;
}
.content-page-body .goback-container .goback-text {
  font-size: 1.2rem;
  color: #55473f;
}
.content-page-body .goback-container .goback-text:hover {
  text-decoration: none;
}

.detail-page-body {
  min-width: 300px;
  background-color: #eaeaea;
  padding: 0px 0px 60px 0px;
}
.detail-page-body .goback-container {
  margin-top: 40px;
  border-bottom: 0.5px solid #5f6b82;
}
.detail-page-body .goback-container .goback-text {
  font-size: 1.2rem;
  color: #55473f;
}
.detail-page-body .goback-container .goback-text:hover {
  text-decoration: none;
}

.content-paginate-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.3rem;
  margin-top: 18px;
}
@media (max-width: 439px) {
  .content-paginate-container {
    margin-top: 0px;
  }
}
.content-paginate-container .content-paginate {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-paginate-container .content-paginate li {
  display: block;
  width: 60px;
  height: 2rem;
  color: #93e5b4;
  float: left;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .content-paginate-container .content-paginate li {
    width: 40px;
    font-size: 1rem;
  }
}
@media (max-width: 439px) {
  .content-paginate-container .content-paginate li {
    width: 30px;
    font-size: 0.8rem;
  }
}
@media (max-width: 329px) {
  .content-paginate-container .content-paginate li {
    width: 25px;
  }
}
.content-paginate-container .content-paginate li:hover {
  color: #55473f;
}
.content-paginate-container .content-paginate li span {
  display: block;
  width: 100%;
  height: 100%;
}
.content-paginate-container .content-paginate li span.activated {
  color: #55473f;
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled {
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled:hover {
  color: #93e5b4;
}

.detail-page-header {
  width: 100%;
  height: 200px;
  background-color: #eaeaea;
}
.detail-page-header .book-detail-title .book-detail-title-container {
  width: 1100px;
}
.detail-page-header .book-detail-title .book-detail-title-container .book-detail-title-content h1 {
  color: #55473f;
  font-size: 2rem;
  letter-spacing: 10px;
  font-weight: bold;
  display: inline-block;
}
.detail-page-header .book-detail-title .book-detail-title-container .book-detail-title-content h2 {
  color: #5f6b82;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 10px;
  display: inline-block;
}

@media (max-width: 767px) {
  .rwd-container {
    max-width: 650px !important;
  }
}

.paper-rwd-detail-container {
  height: 650px;
  font-size: 1.2rem;
  color: #55473f;
}
@media (max-width: 767px) {
  .paper-rwd-detail-container {
    height: 800px;
  }
}
@media (max-width: 575px) {
  .paper-rwd-detail-container {
    height: 700px;
  }
}
@media (max-width: 500px) {
  .paper-rwd-detail-container {
    height: 600px;
  }
}
.paper-rwd-detail-container .book-detail-row {
  width: 100%;
  padding: 50px;
  height: 100%;
  margin: 0;
  background-image: url(../../../images/frontend/icons/book_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (max-width: 991px) {
  .paper-rwd-detail-container .book-detail-row {
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  .paper-rwd-detail-container .book-detail-row {
    font-size: 0.8rem;
  }
}
@media (max-width: 350px) {
  .paper-rwd-detail-container .book-detail-row {
    padding: 65px 0px;
  }
}
.paper-rwd-detail-container .book-detail-row .book-detail-row-left {
  padding: 20px 60px 25px 40px;
  text-align: center;
}
@media (max-width: 991px) {
  .paper-rwd-detail-container .book-detail-row .book-detail-row-left {
    padding: 70px 0px;
  }
}
@media (max-width: 767px) {
  .paper-rwd-detail-container .book-detail-row .book-detail-row-left {
    padding: 20px 60px 0px 60px;
  }
}
.paper-rwd-detail-container .book-detail-row .book-detail-row-left .row {
  margin-top: 15px;
}
.paper-rwd-detail-container .book-detail-row .book-detail-row-left .book-detail-img img {
  width: 80%;
  margin-bottom: 10px;
  box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .paper-rwd-detail-container .book-detail-row .book-detail-row-left .book-detail-img img {
    width: 75%;
  }
}
.paper-rwd-detail-container .book-detail-row .book-detail-row-right {
  padding: 20px;
}
@media (max-width: 991px) {
  .paper-rwd-detail-container .book-detail-row .book-detail-row-right {
    max-width: 100% !important;
    padding: 35px 20px;
  }
}
@media (max-width: 767px) {
  .paper-rwd-detail-container .book-detail-row .book-detail-row-right {
    padding: 0px 20px;
  }
}
@media (max-width: 991px) {
  .paper-rwd-detail-container .book-detail-row .book-detail-row-right .row {
    width: 100%;
    margin: 0;
  }
}
.paper-rwd-detail-container .book-detail-row .book-detail-row-right .paper-row-col {
  padding: 20px 0px;
}
@media (max-width: 767px) {
  .paper-rwd-detail-container .book-detail-row .book-detail-row-right .paper-row-col {
    padding: 0px;
    text-align: center;
  }
}
.paper-rwd-detail-container .book-detail-row .book-detail-row-right .paper-row-col p {
  display: inline;
  word-break: break-word;
}
.paper-rwd-detail-container .book-detail-row .book-detail-row-right .paper-row-col .book-rows {
  margin: 30px 20px;
}
@media (max-width: 767px) {
  .paper-rwd-detail-container .book-detail-row .book-detail-row-right .paper-row-col .book-rows {
    margin: 0px;
    margin-bottom: 15px;
  }
}
@media (max-width: 991x) {
  .paper-rwd-detail-container .book-detail-row .book-detail-row-right .book-row-col {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .paper-rwd-detail-container .book-detail-row .book-detail-row-right .book-row-col {
    text-align: center;
  }
}
.paper-rwd-detail-container .book-detail-row .book-detail-row-right .book-row-col p {
  display: inline;
  word-break: break-word;
}
.paper-rwd-detail-container .book-detail-row .book-detail-row-right .book-row-col .book-rows {
  margin: 23px 20px;
}
@media (max-width: 991px) {
  .paper-rwd-detail-container .book-detail-row .book-detail-row-right .book-row-col .book-rows {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .paper-rwd-detail-container .book-detail-row .book-detail-row-right .book-row-col .book-rows {
    margin: 9px 40px;
  }
}

.book-detail-container {
  height: 650px;
  font-size: 1.2rem;
  color: #55473f;
}
@media (max-width: 767px) {
  .book-detail-container {
    height: 960px;
  }
}
@media (max-width: 575px) {
  .book-detail-container {
    height: 800px;
  }
}
@media (max-width: 500px) {
  .book-detail-container {
    height: 700px;
  }
}
.book-detail-container .book-detail-row {
  width: 100%;
  padding: 50px;
  height: 100%;
  margin: 0;
  background-image: url(../../../images/frontend/icons/book_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (max-width: 991px) {
  .book-detail-container .book-detail-row {
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  .book-detail-container .book-detail-row {
    font-size: 0.8rem;
  }
}
@media (max-width: 350px) {
  .book-detail-container .book-detail-row {
    padding: 65px 0px;
  }
}
.book-detail-container .book-detail-row .book-detail-row-left {
  padding: 20px 60px 25px 40px;
  text-align: center;
}
@media (max-width: 991px) {
  .book-detail-container .book-detail-row .book-detail-row-left {
    padding: 70px 0px;
  }
}
@media (max-width: 767px) {
  .book-detail-container .book-detail-row .book-detail-row-left {
    padding: 20px 60px 0px 60px;
  }
}
.book-detail-container .book-detail-row .book-detail-row-left .row {
  margin-top: 15px;
}
.book-detail-container .book-detail-row .book-detail-row-left .book-detail-img img {
  width: 80%;
  margin-bottom: 10px;
  box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .book-detail-container .book-detail-row .book-detail-row-left .book-detail-img img {
    width: 75%;
  }
}
.book-detail-container .book-detail-row .book-detail-row-right {
  padding: 20px;
}
@media (max-width: 991px) {
  .book-detail-container .book-detail-row .book-detail-row-right {
    max-width: 100% !important;
    padding: 35px 20px;
  }
}
@media (max-width: 767px) {
  .book-detail-container .book-detail-row .book-detail-row-right {
    padding: 0px 20px;
  }
}
@media (max-width: 991px) {
  .book-detail-container .book-detail-row .book-detail-row-right .row {
    width: 100%;
    margin: 0;
  }
}
.book-detail-container .book-detail-row .book-detail-row-right .paper-row-col {
  padding: 20px 0px;
}
@media (max-width: 767px) {
  .book-detail-container .book-detail-row .book-detail-row-right .paper-row-col {
    padding: 0px;
    text-align: center;
  }
}
.book-detail-container .book-detail-row .book-detail-row-right .paper-row-col p {
  display: inline;
  word-break: break-word;
}
.book-detail-container .book-detail-row .book-detail-row-right .paper-row-col .book-rows {
  margin: 30px 20px;
}
@media (max-width: 767px) {
  .book-detail-container .book-detail-row .book-detail-row-right .paper-row-col .book-rows {
    margin: 0px;
    margin-bottom: 15px;
  }
}
@media (max-width: 991x) {
  .book-detail-container .book-detail-row .book-detail-row-right .book-row-col {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .book-detail-container .book-detail-row .book-detail-row-right .book-row-col {
    text-align: center;
  }
}
.book-detail-container .book-detail-row .book-detail-row-right .book-row-col p {
  display: inline;
  word-break: break-word;
}
.book-detail-container .book-detail-row .book-detail-row-right .book-row-col .book-rows {
  margin: 23px 20px;
}
@media (max-width: 991px) {
  .book-detail-container .book-detail-row .book-detail-row-right .book-row-col .book-rows {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .book-detail-container .book-detail-row .book-detail-row-right .book-row-col .book-rows {
    margin: 9px 0px;
  }
}